<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="message alert alert-success" th:if="${message != null}">
        [[${message}]]
    </div>
    <h2 class="text-center mb-4">Registration Form</h2>
    <form th:action="@{/registration}" method="POST" th:object="${user}">
        <div class="form-group">
            <label for="fullname">Fullname:</label>
            <input th:field="*{fullname}" type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter your fullname" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input th:field="*{email}" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input th:field="*{password}" type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button><a th:href="@{/login}">
        Back to login
    </a>

    </form>
</div>

<!-- Add Bootstrap JS scripts (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
